#formSearch{
    overflow: hidden;
}
#formSearch label{
    width: 60px;
    text-align: left;
    display: inline-block;
    line-height: 35px;
    padding: 0;
    margin: 0;
    height: 35px;
}
#formSearch .form-group div{
    margin:0 10px;
}
#formSearch label,#formSearch .form-group div{
    float: left;
}
#toolbar button{
    margin-right: 15px;
    padding:4px 15px;
    color: #4a97ff;
    font-weight: 600;
    border: 1px solid #9ac5ff;
    border-radius: 5px;
    font-family: "Microsoft yahei";
    background-color: #fff;
}
#toolbar button:hover{
    background-color: #4a97ff;
    color: #fff;
}
.sublist{
    width: 90%;
    margin:0 auto;
    margin-top: 30px;
}
.sublist label{
    margin-right: 5px;
    text-align: right;
    width: 25%;
    font-size: 14px;

}
.sublist input,.sublist textarea{
    width:65%;
    vertical-align:top;
    border: 1px solid #dedede;
    border-radius:5px; 
}
.sublist textarea{
    width:65%;
    vertical-align:top;
}
.btnlist{
    width:54%;
    margin: 0 auto;
    margin-top: 15px;
}
.btnlist button{
    width:70px;
    height: 30px;
    background: #4a97ff;
    border: none;
    border-radius:5px; 
    color: #fff;
}